* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #3d4960;
  }
  header {
    display: flex;
  
  }
  .contenedor-logo {
    width: 53vw;
    height: 15vh;
    background-color: #140b4d;
    border-radius: 0 30px 30px 0;
    margin-right: 5%;
    padding-top: 1%;
  }
  .contenedor-logo img {
    width: 100%;
    height: 80%;
  }
  
  .contenedor-menu {
    width: 85vw;
    height: 15vh;
    background-color: #0d63a0;
    border-radius: 30px 0 0 30px;
  }
  .contenedor-registros {
    width: 100%;
    height: 50%;
    border-bottom: 2px white solid;
    display: flex;
  }
  .contenedor-registros p,
  a {
    color: white;
  }
  .navbarbtn {
    font-size: 3em;
    margin-top: 1%;
    display: none;
    margin-left: 3%;
  }
  #check {
    display: none;
  }
  .redes-visibles{
    width: 3rem;
    position: fixed;
    z-index: 5;
    top: 70%;
  }
  .redes-visibles img{
    width: 100%;
    height: 100%;
    margin: 30%;
  }
  .lema {
    margin: 2% 5%;
    margin-right: 20%;
    margin-left: 10%;
    font-size: 1.5rem;
    font-family: "Inder";
  }
  .texto-registro {
    margin: 3% 5%;
    font-size: 1.1rem;
    text-decoration: none;
  }
  .texto-ingresar {
    margin: 3% 5%;
    font-size: 1.1rem;
    text-decoration: none;
  }
  .contendor-pestañas {
    width: 100%;
    height: 50%;
    text-align: center;
  }
  .contendor-pestañas a {
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    margin-left: 5%;
  }
  .contendor-pestañas nav {
    margin-top: 2%;
  }
  
  .contenedor-footer {
    width: 100%;
    height: 66vh auto;
    background-color: #d9d9d9;
    text-align: center;
    padding: 1%;
  }
  .contenedor-footer h2 {
    color: #31579c;
    font-size: 1.7rem;
  }
  .contenedor-sedes {
    display: flex;
    margin-left: 10%;
  }
  .contenedor-sedes div {
    margin: 3%;
    border-right: #31579c 2px solid;
    padding: 2%;
  }
  .contenedor-sedes div:last-child {
    border: none;
  }
  .contenedor-sedes p {
    color: #31579c;
    font-size: 1.2rem;
  }
  .contenedor-sedes p:first-child {
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 10%;
  }
  .contenedor-logo-footer {
    border-bottom: 2px solid #31579c;
    padding: 2%;
  }
  
  .contenedor-logo-footer img {
    width: 20%;
    height: 100%;
  }
  
  .redes-y-copyright {
    display: flex;
  }
  .contenedor-redes-footer {
    display: flex;
    width: 20%;
    margin-top: 1%;
  }
  .contenedor-redes-footer img {
    width: 70%;
    height: 80%;
  }
  .copyright {
    width: 60%;
    padding: 2%;
  }
  .copyright p {
    color: #31579c;
  }
  img {
    width: 100%;
    height: 100%;
  }
  .container {
    width: 90%;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
  }
  .container div {
    margin: 2%;
  }
  .contenedorcontenedorsito {
    display: flex;
    width: 100%;
  }
  .contenedor-carrusel {
    position: relative;
    background-color: #d9d9d9;
    width: 22vw;
    height: 75vh;
    text-align: center;
    border-radius: 10%;
    border: 1px solid #31579c;
    padding: 0.7%;
  }
  .contenedor-carrusel #lugar {
    color: #31579c;
    font-size: 1.5rem;
    font-weight: bold;
  }
  .contenedor-img {
    width: 95% auto;
    position: relative;
    height: 55%;
    margin: 0 auto;
    margin-top: 5%;
    background-color: blue;
  }
  .contenedor-descripcion {
    display: flex;
    margin-left: 8%;
    padding: 5%;
  }
  .contenedor-descripcion p {
    font-weight: 700;
    font-size: 1rem;
  }
  .contenedor-descripcion div {
    height: 10vh;
  }
  .area {
    border-right: 2px solid #31579c;
    margin-right: 5%;
    padding: 7%;
  }
  .detalles {
    padding: 6%;
  }
  .precio {
    text-align: center;
    width: 60% auto;
    height: 7%;
    background-color: #31579c;
    padding: 1%;
    border-radius: 5cm;
    margin: 250px;
  }
  .precio p {
    font-size: 1.2rem;
    color: #faf9f9;
  }
  .boton {
    font-size: 1.2rem;
    width: 12%;
    height: 12%;
    line-height: 30px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: bold;
    position: absolute;
    color: #fff;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .boton:hover {
    cursor: pointer;
    transform: scale(1.2, 1.2);
  }
  .atras {
    left: 2%;
    top: calc(70% - 70px);
  }
  .adelante {
    right: 2%;
    top: calc(70% - 70px);
  }
  h2 {
    color: #0d63a0;
    display: block;
  }
  
  @media screen and (max-width: 1124px) {
    .lema {
      margin-right: 17%;
    }
    .contenedor-carrusel {
      width: 30vw;
      height: 60vh;
    }
    .container div {
      margin: 1%;
    }
    .container{
      margin-left: 10%;
    }
  }
  
  @media screen and (max-width: 1105px) {
    .lema {
      margin-right: 16%;
    }
  }
  
  @media screen and (max-width: 1100px) {
    .lema {
      margin-right: 10%;
    }
    .contendor-pestañas a {
      margin-left: 4%;
    }
  }
  
  @media screen and (max-width: 1100px) {
    .contendor-pestañas a {
      margin-left: 2%;
    }
  }
  
  @media screen and (max-width: 976px) {
    .lema {
      margin-right: 2%;
    }
    .contenedor-carrusel{
      height: 10%;
    }
  }
   
  
  @media screen and (max-width: 875px) {
    .contendor-pestañas a {
      margin-left: 1%;
    }
    .container{
      margin-left: 10%;
    }
  
    .contenedor-img-vision img {
      height: 70%;
    }
    .lema {
      font-size: 1.3rem;
    }
    .contendor-pestañas a {
      font-size: 1rem;
    }
    .contenedor-img-vision {
      display: none;
    }
  
    .lema {
      display: none;
    }
    .contenedor-menu {
      position: absolute;
      height: 55vh;
      width: 15vw;
      border-radius: 0;
      display: inline;
      right: 2%;
      top: 10%;
      border-radius: 30px;
      padding: 2%;
      display: none;
      z-index: 5;
    }
    .contenedor-logo {
      width: 80vw;
    }
    .contenedor-registros {
      height: 25%;
      display: block;
    }
    .contenedor-registros a {
      line-height: 50px;
      font-size: 1.4rem;
    }
    .contendor-pestañas a {
      line-height: 50px;
      font-size: 1.4rem;
    }
    .navbarbtn {
      display: block;
    }
    #check:checked ~ .contenedor-menu {
      display: block;
    }
    .contenedor-logo {
      height: 10vh;
    }
    
  }
  
  @media screen and (max-width: 837px) {
    .contenedor-menu {
      width: 20vw;
      padding: 3%;
    }
  }
  
  @media screen and (max-width: 793px) {
    .contendor-pestañas a {
      font-size: 1.4rem;
    }
    .contenedor-carrusel {
      width: 45vw;
      height: 70vh;
    }
    .container{
      margin-left: 26%;
    }
  }
  
  @media screen and (max-width: 690px) {
    .contenedor-menu {
      width: 25vw;
      padding: 4%;
    }
  
    .contenedor-sedes p:first-child {
      font-size: 1.3rem;
    }
    .contenedor-carrusel {
      width: 45vw;
    }
  }
  
  @media screen and (max-width: 636px) {
    .contenedor-sedes div {
      margin: 0;
    }
    .contenedor-carrusel{
      width: 55vw;
    }
  }
  
  
  @media screen and (max-width: 524px) {
    .contenedor-footer {
      width: 115vw;
    }
  
    .contenedor-logo-footer img {
      width: 100%;
    }
    .contenedor-sedes p:first-child {
      font-size: 1.1rem;
    }
    .contenedor-sedes p {
      font-size: 1.1rem;
    }
  
    .contenedor-menu {
      width: 35vw;
      padding: 7%;
    }
    .contenedor-carrusel{
      width: 70vw;
     
    }
    .container{
      margin-left: 14%;
    }
  }
  
  
  @media screen and (max-width: 411px) {
    .contenedor-sedes p:first-child {
      font-size: 1.1rem;
    }
    .contenedor-sedes p {
      font-size: 0.8rem;
    }
  
    .contenedor-menu {
      width: 40vw;
    }
    .contenedor-carrusel{
      width: 90vw;
     
    }
    .container{
      margin-left: 5%;
    }
  }
  
  @media screen and (max-width: 344px) {
    .contenedor-sedes p:first-child {
      font-size: 0.8rem;
    }
    .contenedor-sedes p {
      font-size: 0.8rem;
    }
    .contenedor-carrusel{
      width: 65vw;
    }
  }

  @media screen and (min-height: 1180px) {
   .contenedor-carrusel{
    width: 39.3vw;
   }
  
  }
  