.contenedor-footer {
  width: 100%;
  height: 66vh auto;
  background-color: #d9d9d9;
  text-align: center;
  padding: 1%;
}
.contenedor-footer h2 {
  color: #31579c;
  font-size: 1.7rem;
}
.contenedor-sedes {
  display: flex;
  margin-left: 10%;
  flex-wrap: wrap;
}
.contenedor-sedes div {
  margin: 2%;
  border-right: #31579c 2px solid;
  border-bottom: #31579c 2px solid;
  padding: 2%;
}

.contenedor-sedes p {
  color: #31579c;
  font-size: 1.2rem;
}
.contenedor-sedes p:first-child {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 10%;
}
.contenedor-logo-footer {
  border-bottom: 2px solid #31579c;

  width: 100%;
}
.contenedor-logo-footer img {
  width: 50%;
}
.redes-y-copyright {
  display: flex;
}
.contenedor-redes-footer {
  display: flex;
  width: 20%;
  margin-top: 1%;
}
.contenedor-redes-footer img {
  width: 60%;
  height: 80%;
}
.copyright {
  width: 60%;
  padding: 2%;
}
.copyright p {
  color: #31579c;
}
.contenido-vision {
  display: flex;
}
@media screen and (max-width: 1100px) {
   .contenedor-sedes{
    margin-left: 6%;
   }
  }

@media screen and (max-width: 976px) {
  .contenedor-sedes div {
    margin: 2%;
    width: 20%;
  }
}
@media screen and (max-width: 800px) {
    .contenedor-sedes div {
      
      width: 30%;
    }
    .contenedor-sedes{
        margin-left: 25%;
       }
  }

@media screen and (max-width: 690px) {
  .contenedor-sedes p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 636px) {
  
  .contenedor-sedes h2 {
    font-size: 1rem;
  }
  .contenedor-sedes {
    margin-left: 32%;
    width: 50%;
  }
  .contenedor-sedes div {
    margin: 3%;
    border-bottom: #31579c 2px solid;
    padding: 2%;
    width: 70%;
  }
  .contenedor-logo-footer img {
    width: 70%;
  }
}



@media screen and (max-width: 524px) {
  .contenedor-sedes p:first-child {
    font-size: 1.3rem;
  }
  .contenedor-sedes p {
    font-size: 1.1rem;
  }
}

@media screen and (max-width: 411px) {
  .contenedor-sedes p:first-child {
    font-size: 1.1rem;
  }
  .contenedor-sedes p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 355px) {
    .contenedor-redes-footer img {
        width: 90%;
        height: 70%;
        
    }
    .contenedor-redes-footer a {
       margin: 3%;
        
    }
  }

@media screen and (max-width: 344px) {
  .contenedor-sedes p:first-child {
    font-size: 1.1rem;
  }
  .contenedor-sedes p {
    font-size: 1rem;
  }
}
