* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../media/Diseño-de-sala-moderna3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}


.container {
  background-color: #3d4960ce;
  display: inline-block;
  border-radius: 5%;
  text-align: center;
 
  margin-left: 10%;
  margin-bottom: 10%;
  margin-right: 2%;
  width: 30vw;
  height: 35vh;
}
.container input,
button,
label,
h2 {
  margin: 2%;
}
.fregistro {
  background-color: #3d4960d3;
  display: inline-block;
  border-radius: 5%;
  text-align: center;
  margin-top: 5%;
  margin-left: 0%;
  margin-bottom: 15%;
  margin-right: 10%;
  width: 30vw;
  height: 50vh;
}
.fregistro input,
button,
label,
h2 {
  margin: 2%;
}
h2 {
  color: #fcfafa;
}
input::placeholder {
  text-align: center;
  color: #140b4d;
  font-size: 1rem;
}
button {
  border-radius: 5cm;
  width: 10vw auto;
  height: 6vh;
  color: #3d4960;
  font-size: 1rem;
  padding: 3%;
  margin-top: 5%;
}
button:hover {
  cursor: pointer;
}
label {
  color: #d9d9d9;
}
input {
  height: 4vh;
}
















@media screen and (max-width: 690px) {
  
    .fregistro {
      width: 40vw;
    }
    .container {
      width: 35vw;
    }
    .container h2 {
      font-size: 1.4rem;
    }
}



@media screen and (max-width: 524px) {
    

   
      .container h2 {
        font-size: 1.2rem;
      }
}
    
  
@media screen and (max-width: 524px) {
  
    .container{
      width: 45vw;
      margin-left: 30%;
    }
    .fregistro{
      margin-left: 28%;
      margin-top: 2%;
      width: 50vw;
    }
    body{
      height: 100%;
    }
 
}

@media screen and (max-width: 411px) {
  
   
    .container{
      width: 59vw;
      margin-left: 25%;
    }
    .fregistro{
      margin-left: 25%;
   
      width: 60vw;
    }
  
}


